.gallery-link {
  display: flex;
  flex-direction: column; /* Вертикальне розташування елементів */
  width: 100%;
  position: relative; /* Відносне позиціонування для коректного вирівнювання */
}

.img {
  width: 100%; /* Зображення займає всю ширину картки */
  object-fit: cover; /* Обрізаємо зображення, зберігаючи пропорції */
  height: 152px;
}

.gallery-info {
  display: flex;
  justify-content: space-between;
  padding: 4px 16px;
  background-color: #fff;
  border-top: 1px solid #ddd;
}
